body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color:#252630;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.heading {
    font-size: 90px;
    text-align: center;
    color: #fff;
}

.timer {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: #fff;
    margin-bottom: 80px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 15px 55px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.btn.start {
    background-color: #7cfc00;
}

.btn.pause {
    background-color: #00ffff;
}

.btn.reset {
    background-color: #ff0000;
}